<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            width: 100%;
        }
        h1 {
            text-align: center;
        }

        img {
            width: 200px;
            height: 200px;
            
        }
        
        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 10px;
            transition: .5s ease-in-out;
            
        }
        .container:hover{
            box-shadow: 10px 10px var(--black);
        }
    </style>
</head>

<body>
    <h1> Unit Selection</h1>

    <a href="/unit/new">New Entry</a>
    <div class="container">
        <% unit.forEach((units)=> { %>
        <article>
            <h3>
                <%=units.name%>
            </h3>
            <div class="gallary">
                <a href="/unit/<%=units._id%>"><img src=<%=units.unitImage%> /></a>
            </div>
            <a href="/unit/<%=units._id%>/edit">Edit</a>
            <form action="/unit/<%=units._id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
            </form>
        </article>
        <% }) %>
    </div>
</body>

</html>