<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        h1,h2{
            text-align: center;
        }
        img{
            max-width: 50%;
            max-height: 400px;
        }
    </style>
</head>

<body>
    <h1>
        Unit Info
    </h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Unit</th>
                    <th scope="col">M</th>
                    <th scope="col">WS</th>
                    <th scope="col">BS</th>
                    <th scope="col">S</th>
                    <th scope="col">T</th>
                    <th scope="col">W</th>
                    <th scope="col">A</th>
                    <th scope="col">L</th>
                    <th scope="col">S</th>
                </tr><br>
            </thead>
        <tbody>
            <tr></tr>
            <th scope='row'><%=unit.name%></th>
            <td><%=unit.movement%></td>
            <td><%=unit.weaponSkill%></td>
            <td><%=unit.ballisticSkill%></td>
            <td><%=unit.strength%></td>
            <td><%=unit.toughness%></td>
            <td><%=unit.wounds%></td>
            <td><%=unit.attack%></td>
            <td><%=unit.leadership%></td>
            <td><%=unit.saveCharacteristic%></td>
            
            </tr><br>
        </tbody>
        </table>
        <div>
        <img class="round mx-auto d-block" src=<%=unit.unitImage%><br>
        </div>
        <h2>Unit Abilites</h2>
        <p><%=unit.abilities%></p><br>

        
           <h1>Weapons</h1>
         <table class="table">
             <thead class="thead-dark">
                 <th scope="col">Weapon Name</th>
                 <th scope="col">Range</th>
                 <th scope="col">Type</th>
                 <th scope="col">S</th>
                 <th scope="col">AP</th>
                 <th scope="col">D</th>
             </thead>
          
        <tr>
            <td><%=unit.weaponName%></td>
            <td><%=unit.range%></td>
            <td><%=unit.type%></td>
            <td><%=unit.weaponStrength%></td>
            <td><%=unit.ap%></td>
            <td><%=unit.damage%></td>
            
        </tr><br>
        </table>     
        <div>
            <img class="round mx-auto d-block" src=<%=unit.weaponImage%> <br>
        </div>
            <h1>Weapon Abilities</h1>
            <p><%=unit.weaponAbilites%></p>
        <a href='/unit'>Back to Unit Selection</a>
</body>

</html>